.App {
  text-align: center;
}

body{
  min-height: 100vh;
}
.not-found-name{
  text-align: center;
  color: teal;
}
.not-found-pic{

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.movies-section{
  padding: 50px;
 
}
.ul-list{
  list-style: none;
  display: flex;
}
.in-con{
  display: flex;
  flex-direction: column;
 gap: 10px;
 padding-top: 50px;
 padding-left: 100px;
 padding-right: 100px;
 padding-bottom: 500px;
}
.user-pic{
  height: 400px;
  object-fit: cover;
  width: 400px;
}
.user-pic-home{
  height: 300px;
  object-fit: cover;
  width: 250px;
}
.user-name-home{
  font-family: 'Metal Mania', cursive;
  letter-spacing: 3px;
  margin: 3px;
  color: white;
  font-size: 20px;
}
.user-name{
  margin: 0;
}

.container{
display: inline-grid;
justify-content: space-evenly;
    align-items: center;
    justify-items: center;
margin: 15px;
}

.full-det{
  border-radius: 5px;
  width: 400px;
  overflow: hidden;
  font-family: sans-serif;
  letter-spacing: 1px;
  transition: all 0.5s;
  border: gray solid 3px;
  height: min-content;
}

.full-det-home{
  border-radius: 5px;
  width: min-content;
  overflow: hidden;
  font-family: sans-serif;
  letter-spacing: 1px;
  height: min-content;
  border: rgba(104, 102, 102, 0.322) solid 3px;
}

.button-like{
  display: flex;
  justify-content: flex-start;
}

.details{
  text-align: center;
 font-weight: 500;
}
.details-div{
  text-align: center;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 200px;
  padding-left: 250px;
  padding-right: 250px;
}
.det{
  display: flex;
  justify-content: space-between;
    align-items: center;
}
.full-det:hover{
 
  border: black solid 3px ;
transform: scale(1.1);
box-shadow: 5px 5px 5px rgb(46, 45, 45);
}
.home-hello{
  margin: 0;
}
.home-pic{
  width: 100rem;
  height: 42rem;
}
.home{
  color: rgb(216, 70, 99);
  text-align: center;
  font-weight: 900;
  font-size: 3rem;
 display: flex;
 justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 800px;
}
.home-det{
  color: rgb(55, 204, 204);
  font-size: 30px;
  font-family: sans-serif;
}
.edit-delete{
  display: flex;
  justify-content: flex-end;
}
.count-edit{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-page{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: stretch;
  gap: 10px;
}
.login-head{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  margin-top: 50px;
}
.please{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}
.icons{
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.success{
  object-fit: cover;
  height: 250px;
  width: 250px;
 border-radius: 60%;
}
.failed{
  object-fit: cover;
  height: 200px;
  width: 200px;
 border-radius: 60%;
}
.homepage-text{
  font-family: sans-serif;
  letter-spacing: 1px;
}

.signup-link{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.signup-word{
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 200;
  text-decoration: underline;
}


@media(max-width: 1200px){
  .details-div{
    text-align: center;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 200px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .iframe-size{
    width: 600px;
    height: 400px;
  }
}

@media(max-width: 500px){

  .movies-section{
    padding: 10px;
  }

  .in-con {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 500px;
}

  .full-det{
    border-radius: 5px;
    width: 300px;
    overflow: hidden;
    font-family: sans-serif;
    letter-spacing: 1px;
    transition: all 0.2s;
    border: gray solid 3px;
    height: min-content;
  }
  .home{
    color: rgb(216, 70, 99);
    text-align: center;
    font-weight: 500;
    font-size: 30px;
  padding-left: 18px;
  padding-right: 18px;
  }
  .notfound{
    height: 200px;
    width: 300px;
  }

.home-det{
  color: rgb(55, 204, 204);
  font-size: 25px;
  font-family: sans-serif;
}

.details-div{
  text-align: center;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 200px;
  padding-left: 15px;
  padding-right: 15px;
}
.iframe-size{
  width: 340px;
  height: 390px;
}

.login-page {
  padding-bottom: 350px;
}
}


