.App {
  text-align: center;
}

body{
  min-height: 100vh;
}
.not-found-name{
  text-align: center;
  color: teal;
}
.not-found-pic{

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.ul-list{
  list-style: none;
  display: flex;
}
.in-con{
  display: flex;
  flex-direction: column;
 gap: 10px;
}
.user-pic{
  height: 400px;
  object-fit: cover;
  width: 400px;
}
.user-name{
  margin: 0;
}

.container{
display: inline-grid;
justify-content: space-evenly;
    align-items: center;
    justify-items: center;
margin: 15px;

}

.full-det{
  border-radius: 5px;
  width: 400px;
  overflow: hidden;
  font-family: sans-serif;
  letter-spacing: 1px;
  transition: all 0.2s;
  border: gray solid 3px;
  height: min-content;
}
.button-like{
  display: flex;
  justify-content: flex-start;
}

.details{
  text-align: center;
  
 font-weight: 500;
 padding: 10px;
}
.det{
  display: flex;
  justify-content: space-between;
    align-items: center;
}
.full-det:hover{
 
  border: black solid 3px ;
transform: scale(1.1);
box-shadow: 5px 5px 5px rgb(46, 45, 45);
}
.home-hello{
  margin: 0;
}
.home-pic{
  width: 100rem;
  height: 42rem;
}
.home{
  color: crimson;
  text-align: center;
  font-weight: 900;
  font-size: 3rem;
 display: flex;
 justify-content: center;
    align-items: center;
    flex-direction: column;
}
.edit-delete{
  display: flex;
  justify-content: flex-end;
}
.count-edit{
  display: flex;

}


